/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container { 
    position: relative;
    max-width: 40em;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header{
    padding-left: .25em;
    padding-right: .25em;
}

h1 {
	width: 10em; 
	height: auto;
    padding-left: .25em;
    padding-right: .25em;
}

h2{
    font-size: 2em;
    font-weight: bold;
    font-family: serif;
    color: rgb(84, 119, 157);
    padding-left: .25em;
    padding-right: .25em;

}

section.mainstory h2 {
    font-size: 3em;
    padding-left: .25em;
    padding-right: .25em;
    }

section.secondary h2{
    font-size: 2em; 
    padding-left: .25em;
    padding-right: .25em;
}

section.teasers h2{
    font-size: 1em;  
    border-top: 1.5px solid rgb(84, 119, 157);
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
}

aside h2{
    font-size: 1em;
    padding-left: .5em;
    padding-right: .25em;
}


p{
    font-size: 1em;
	font-family: sans-serif;
    color: rgb(11, 11, 11);
    padding-bottom: 2em;
    padding-left: .5em;
    padding-right: .25em;
}

aside{
    background-color: rgb(186, 188, 240);
    padding: 1em .5em 1em;
}


figcaption{
    font-size: 1em;  
    font-style: italic;	
    font-family: sans-serif;
    color: rgb(54, 54, 54);
    padding-bottom: 1.5em;
    padding-left: .5em;
    padding-right: .5em;
}

nav ul{	
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: none;
    padding-left: .5em;
    padding-right: .5em;
}

nav ul li {
	font-size: 1em;
	font-family: sans-serif;
    font-weight: bold;
    margin-top: .5em;
	}

nav ul li a{
    text-decoration: none;
    color: rgb(84, 119, 157);
}

footer {
    position: absolute;
    background-color: rgb(84, 119, 157);
    box-sizing: border-box;
    width: 40em;
    padding: 1em;
    padding-bottom: 0em;
}

footer p{
    color: rgb(237, 237, 237);
}

@media only screen and (min-width: 60em) {

    nav ul li{	
        display: inline;
        margin-left: 1em;
        margin: 0em 1em 0em 0em;
        padding-left: 0em;
    }

    nav ul{
        padding-left: 0em;
    }

    h1{
        padding-left: 0em;
        padding-right: 0em;
    }

    h2{
        padding-left: 0em;
        padding-right: 0em;
    }

    section.mainstory h2 {
        padding-left: 0em;
        padding-right: 0em;
    }

    section.secondary h2{
        padding-left: 0em;
        padding-right: 0em;
    }
    section.teasers h2{
        padding-left: 0em;
        padding-right: 0em;
    }

    aside h2{
        padding-left: 0em;
        padding-right: 0em;
    }

    p{
        padding-left: 0em;
        padding-right: 0em;
    }

    figcaption{
        padding-left: 0em; 
        padding-right: 0em;
    }

}